[submodule "external/glm"]
	path = external/glm
	url = https://github.com/vigine-dev/glm.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/vulkan-hpp"]
	path = external/vulkan-hpp
	url = https://github.com/vigine-dev/Vulkan-Hpp.git
