build*/
/vcpkg_installed/
/.cache/
/.vscode/
/CMakeFiles/
/CMakeCache.txt
/*.cmake
/*.o
/*.obj
/*.pdb
/*.exe
/*.dll
/*.lib
/*.so
/*.a
/*.txt.user
/.qtcreator/
__pycache__/
*.pyc
.vs/
*.ilk
*.exp
*.ipch
*.ipdb
*.idb
